POSTGRES_DB=restaurant_agent_reports
POSTGRES_USER=restaurant_agent
POSTGRES_PASSWORD=change-this-database-password
SERVICE_PASSWORD_64_CONNECTOR_ADMIN=generate-a-long-internal-admin-key
# Las cuentas y sus contraseñas se crean y administran desde la aplicación.
